{% extends "auctions/layout.html" %}

{% block body %}
    <div id="index-category">
        <h2 class="letter-red">Closed Listings</h2>
        <form id="categoryForm" action="{% url 'closed_category_filter' %}" method="POST" class="category-filter">
            {% csrf_token %}
            <div class="row">
                <div class="col-auto">
                    <div class="form-group">
                        <select name="category" id="category" class="form-select custom-select">
                            <option value="">All</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn button-red">Filter</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row mx-3 text-center custom-list">
        {% for listing in closed_lists %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card mx-3">
                    <img src="{{ listing.img_url }}" class="card-img-top product-size" alt="listing image">
                    <div class="card-body">
                        <h5 class="letter-red card-title mb-3"><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h5>
                        <h5 class="card-text"><strong>$ {{ listing.start_bid }}</strong></h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}