{% load static %}

<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{% static 'auctions/script.js' %}"></script>

        <!-- https://favicon.io/emoji-favicons/money-bag/ -->
        <link href="{% static 'auctions/law.png' %}" rel="icon">

        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">

        <title>{% block title %}Auctions{% endblock %}</title>

    </head>

    <body>

        <nav class="bg-light border navbar navbar-expand-md navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}"><span class="blue">A</span><span class="red">u</span><span class="yellow">c</span><span class="red">tion</span><span class="green">s</span></a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    {% if user.is_authenticated %}
                        <ul class="navbar-nav me-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Active Listings</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'closed_listings' %}">Closed Listings</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'create' %}">Create Listing</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a></li>
                        </ul>
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><strong class="nav-link" style="color: #8a1440;">{{ user.username }}</strong></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav me-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Active Listings</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'closed_listings' %}">Closed Listings</a></li>
                        </ul>
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

        {% block body %}
        {% endblock %}

        <!-- <footer class="mb-5 small text-center text-muted">
            Data provided by <a href="https://iexcloud.io/">IEX</a>
        </footer> -->

    </body>

</html>
