{% extends "auctions/layout.html" %}

{% block body %}
    <div class="watchlist">
        <h2 class="letter-red">Watchlist</h2>
    </div>
    <div class="row mx-3">
        {% for watchlist in watchlists %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card mx-3">
                    <img src="{{ watchlist.img_url }}" class="card-img-top product-size" alt="listing image">
                    <div class="card-body">
                        <h5 class="letter-red card-title"><a href="{% url 'listing' watchlist.id %}">{{ watchlist.title }}</a></h5>
                        <p><strong>Description: </strong>{{ watchlist.description }}</p>
                        <p><strong>Owner: </strong>{{ watchlist.owner }}</p>
                        <h5><strong>$ {{ watchlist.start_bid }}</strong></h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}